MAIL_API_PORT=8787

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=contactform.regacats@gmail.com
SMTP_PASS=dfwl fdcd fxtk urzz

MAIL_FROM="Regacats Website <contactform.regacats@gmail.com>"
MAIL_TO_PRIMARY=contactform.regacats@gmail.com
MAIL_TO_SECONDARY=kumaraxshit@gmail.com
MAIL_TO_TERTIARY=anuj@regacats.in

MAIL_ALLOWED_ORIGINS=https://regacats.in,https://www.regacats.in
